        <div class="comment clearfix"> <img src="/static/assets/img/avatar/8.png" alt="Avatar" class="pull-left"> <a href="#">مهسا فراهانی</a> <span class="postedon">14 مرداد 1396 در 8:45 ق.ظ</span>
          <p class="abs"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود </p>
          <a href="#" class="pull-right greybutton">پاسخ</a> </div>
        <div class="comment subcomment clearfix">
           {%for articles in article %}
          <a href="#">{{article.comment.full_name}}</a>
          <span class="postedon">14 مرداد 1396 در 8:45 ق.ظ</span>
          <p class="abs"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود </p>
         {% endfor %} 
          <a href="#" class="pull-right greybutton">پاسخ</a> </div>