
<div class="list-group list-group-light">
   <a href="{% url "user:user-panel" %}" class="list-group-item list-group-item-action px-3 border-0 active" aria-current="true">
    پنل کاربری</a>
  <a href="{% url "user:edit-user-password" %}" class="list-group-item list-group-item-action px-3 border-0 ripple">تغییر رمز عبور</a>
  <a href="{% url "user:edit-user-panel" %}" class="list-group-item list-group-item-action px-3 border-0 ripple">ویرایش اطلاعات کاربری</a>
  <a href="#" class="list-group-item list-group-item-action px-3 border-0 ripple">سبد خرید</a>
</div>