<div class="col-md-4 pull-right ">
                <ul class="list-group">
                    <li class="list-group-item"><a href=""><h6>پنل کاربری</h6></a></li>
                    <li class="list-group-item"><a href=""><h6>سبد خرید</h6></a></li>
                    <li class="list-group-item"><a href=""><h6>تغییر رمز عبور</h6></a></li>
                    <li class="list-group-item"><a href="{% url "user:edit-user-panel" %}"><h6>ویرایش اطلاعات کاربری</h6></a></li>
                </ul>

            </div>