{% extends 'shared/index.html' %}
{% load sorl_thumbnail %}
{% block title %}
    welcome
{% endblock %}

{% block body %}
    <body id="index3" class="index3">
    {% for sliders in slider %}
        {% include "shared/homepage_header_component.html"  %}
        <div class="clearfix"></div>
    {% endfor %}


<main>
  <div class="container featured text-center">
    <div class="col-md-4">
      <div class="feature">
        <div class="img-container-bg"> <img src="/static/assets/img/features/feature-2.png" class="make-center" alt="Feature"> </div>
        <h6>در هرجا یادبگیرید</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
        <a href="#" class="readmore"><span>خواندن ادامه&nbsp;&nbsp;&nbsp;</span><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
    </div>
    <div class="col-md-4">
      <div class="feature">
        <div class="img-container-bg"> <img src="/static/assets/img/features/feature-3.png" class="make-center" alt="Feature"> </div>
        <h6>پشتیبانی از همه دستگاه ها</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
        <a href="#" class="readmore"><span>خواندن ادامه&nbsp;&nbsp;&nbsp;</span><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
    </div>
    <div class="col-md-4">
      <div class="feature">
        <div class="img-container-bg"> <img src="/static/assets/img/features/feature-3.png" class="make-center" alt="Feature"> </div>
        <h6>یادگیری توانایی های جدید روزانه</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
        <a href="#" class="readmore"><span>خواندن ادامه&nbsp;&nbsp;&nbsp;</span><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
    </div>
  </div>
  <div class="container index-3-categories text-center">
    <div class="row">
      <div class="col-md-12">
        <h3>برترین آموزش های تصویری مائده لرن را کاوش کنید</h3>
      </div>

    <div class="row text-center">
      {% for courses in most_viewed %}
        <div class="col-md-6 ">
        <div class="category-with-bg cat1">
          <h5>{{ courses.name }}</h5>
          <p>{{ courses.short_description }}</p>
          <a href="{% url "course:courses_detail" courses.slug %}" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
      </div>
      {% endfor %}


    </div>
  </div>


      <div class="col-md-12">
        <h3>جدیدترین آموزش ها</h3>
      </div>

    <div class="row text-center">
      {% for courses in latest_products %}
        <div class="col-md-6 ">
        <div class="category-with-bg cat1">
          <h5>{{ courses.name }}</h5>
          <p>{{ courses.short_description }}</p>
          <a href="{% url "course:courses_detail" courses.slug %}" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
      </div>
      {% endfor %}


    </div>
  </div>

  <div class="container-fluid signup text-center">
    <div class="row">
      <div class="col-sm-12">
        <p>آموزش آنلاین در هرکجا</p>
        <h4>آیا شما آماده شروع یادگیری هستید؟</h4>
        <a href="{% url "user:register" %}" class="bluebutton">هم اکنون ثبت نام کنید</a> </div>
    </div>
  </div>
  <div class="container whyus">
    <div class="row text-center">
      <div class="col-sm-12">
        <h3>چرا مائده لرن را انتخاب کنید</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h6>+100 آموزش رایگان</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با </p>
      </div>
      <div class="col-md-4">
        <h6>یادگیری از مدرسان پیشرفته و تایید شده</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با </p>
      </div>
      <div class="col-md-4">
        <h6>تبدیل شدن به یک متخصص در کسب و کارتان</h6>
        <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با </p>
      </div>
    </div>
  </div>
</main>
 </body>
{% endblock %}