{% extends "shared/index.html" %}
{%  load render_partial%}
{% block title %}
User Panel
{% endblock %}
{% block header_slider %}
    <body id="contact" class="page">
{% endblock %}
{% block body %}
   <div class="container success ">
                <div class="row">
        <div class="col-md-4">
            <a href="" class="thumbnail">
                <img src="{{ user.avatar.url }}" alt="">
            </a>
        {% render_partial "apps.user_module.views.user_panel_components" %}
        </div></div></div>
{% endblock %}