
{% extends "shared/index.html" %}{% load render_partial %}
{% load thumbnail %}
{% block title %}
جزییات مقاله
{% endblock %}
{% block body %}

<body id="blog-1" class="page">
<main>
  <div class="page-heading text-center">
    <div class="container">
      <h2>{{ article.title }}</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9"> <img src="{{ article.image.url }}" alt="blog-single" class="resp-img">
        <h3>{{ article.title }}</h3>
        <div class="author"> <a href="#"> {{ article.writer  }} </a><span>  {{ article.date }}  </span> </div>
            <p>{{ article.text }}</p>
          <div class="about-author">
          <ul class="social pull-right">
            <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
            <li> <a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
            <li> <a href="#"><i class="zmdi zmdi-google-old"></i></a></li>
            <li> <a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
            <li> <a href="#"><i class="zmdi zmdi-email"></i></a></li>
            <li> <a href="#"><i class="zmdi zmdi-globe-alt"></i></a></li>
          </ul>
          <h4>درباره نویسنده</h4>

                 {% thumbnail article.writer.avatar "200x200" quality=100 crop="center"  as image %}
                               <img style="padding: 10px" src="{{ image.url}}" alt="Avatar" class="pull-left">
                                {% endthumbnail %}
              <p>{{article.writer.talent.all|join:" / "}}</p>

          <a class="teacher-name" href="#"> {{ article.writer }}  </a>
              <p class="abs"> {{ article.writer.about}} </p><div class="clearfix"></div>



        </div>
{#        <h4>نظرات</h4>#}
{#      #}
{#        <h4>ارسال دیدگاه</h4>#}
{#        #}
{#<!--          <div class="container success">-->#}
{#<!--         <form method="post" class="contact">-->#}
{#<!--        {% csrf_token %}-->#}
{#<!--      <div class="row">-->#}
{#<!--        <div class="col-sm-4">-->#}
{#<!--            {{ form.full_name.label_tag }}-->#}
{#<!--            {{ form.full_name }}-->#}
{#<!--            {{ form.full_name.errors }}-->#}
{#<!--        </div>-->#}
{#<!--        <div class="col-sm-4">-->#}
{#<!--            {{ form.email.label_tag }}-->#}
{#<!--            {{ form.email }}-->#}
{#<!--            {{ form.email.errors }}-->#}
{#<!--        </div>-->#}
{#<!--      </div>-->#}
{#<!--        <div class="col-md-8 pull-left ">-->#}
{#<!--            {{ form.message.label_tag }}-->#}
{#<!--            {{ form.message }}-->#}
{#<!--            {{ form.message.errors }}-->#}
{#<!--      </div>-->#}
{#<!--      <div class="row clearfix">-->#}
{#<!--        <div class="col-md-12">-->#}
{##}
{#<!--            <button type="submit" name="submit" class="greybutton">ارسال</button>-->#}
{#<!--        </div>-->#}
{#<!--      </div></form>-->#}
{#<!--        </div>-->#}
{#<!--      </div>-->#}
    </form>
      </div>

      <div class="col-lg-3 blog-sidebar">
        <div class="search-something">
          <input type="search" placeholder="دنبال چه چیزی هستید؟">
          <a href="#"><i class="zmdi zmdi-search"></i></a> </div>
        <h4>پست های اخیر</h4>
          {% render_partial "apps.article_module.views.latest_articles_components" %}

        {% render_partial 'apps.article_module.views.article_categories_component' %}
        <div class="popular-courses index-3-categories">
          <h4>محبوب ترین دوره ها</h4>
          <div class="courses-side-slick">
            <div class="category-with-bg text-center cat1">
              <h5>سیستم مدیریت محتوا</h5>
              <p>آموزش برای سیستم های مختلف مثل وردپرس</p>
              <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
            <div class="category-with-bg text-center cat2">
              <h5>تجربه کاربری / طراح UX</h5>
              <p>کارگاه طراحی UX</p>
              <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
            <div class="category-with-bg text-center cat3">
              <h5>تایپوگرافی و نویسندگی</h5>
              <p>کار با ایندیزاین</p>
              <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a> </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

</body>
{% endblock %}